{% extends 'same2.html'%}
{%block css%}
h1 { text-align:center;}
{%endblock css%}
{% block body %}
<br><br>
{% load static %}
<div class="container ">
     <h1><b>Top 5 BlockChain blogs in the world</b></h1><br><br>
  {%for i in blog%}
  {% if i.name == 'Shivansh'%}
  <div class="row featurette d-flex justify-content-center align-items-center ">

      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><b>{{i.topic}}:</b> <span class="text-body-secondary">Coin Knowledge Network</span></h2>
        <p class="lead">{{i.write}}</p>
      </div>
      <div class="col-md-5 ">
          <img src="{% static '\image\bb1.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="1500">

      </div>
    </div>
   <br><hr><br>
   {% elif i.name == 'Suraj'%}
   <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1 pl-0"><b>{{i.topic}}: </b><span class="text-body-secondary">A Beacon of Crypto Insights</span></h2>
        <p class="lead">{{i.write}}</p>
      </div>
      <div class="col-md-5 ">
           <img src="{% static '\image\bb2.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="1540">

      </div>
    </div>
   <br><hr><br>
   {% elif i.name == 'Aryan'%}
   <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><b>{{i.topic}}:</b> <span class="text-body-secondary"> Illuminating the Cryptocurrency and Blockchain Space</span></h2>
        <p class="lead">{{i.write}}</p>
      </div>
      <div class="col-md-5 ">
           <img src="{% static '\image\bb3.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="1360">
      </div>

    </div>
   <br><hr><br>
   {% elif i.name == 'Alim'%}
   <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1 pl-0"><b>{{i.topic}}:</b><span class="text-body-secondary">Navigating the Cryptocurrency and Blockchain Marketing Frontier</span></h2>
        <p class="lead">{{i.write}}</p>
      </div>
      <div class="col-md-5 ">
        <img src="{% static '\image\bb4.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="1570">
      </div>
    </div>
<br><hr><br>
{% elif i.name == 'Paritosh'%}
   <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><b>{{i.topic}}:</b><span class="text-body-secondary">Gateway to Cryptocurrency and Blockchain Insights</span></h2>
        <p class="lead">{{i.write}}</p>
      </div>
      <div class="col-md-5 ">
         <img src="{% static '\image\bb5.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="1550">
      </div>
    </div>

 </div>
  <br><hr>
  {%endif%}
  {%endfor%}
{%endblock body%}