{% extends 'same2.html'%}
{% block css%}
h1{ text-align:center;} {% endblock css%}
{% block body %}
<br><br>
{% load static%}
<div class="container ">
    <h1>To 5 Trending Blog You Shlould Read In 2023</h1>
    <br><br>
    {% for i in blog%}
    {% if i.name == 'Shankar'%}
  <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><b>{{i.topic}}: </b> <span class="text-body-secondary">Your All-in-One Platform for Collaborative Research</span></h2>
        <p class="lead">{{i.write|safe}}</p>
      </div>
      <div class="col-md-5 ">
          <img src="{%static '/image/robonew1.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="1950">

      </div>
    </div>
   <br><hr><br>
   {% elif i.name == 'Saurab'%}
   <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1 pl-0">{{i.topic}}: <span class="text-body-secondary">Navigating the Cutting Edge of Technology</span></h2>
        <p class="lead">{{i.write|safe}}</p>
      </div>
      <div class="col-md-5 ">
           <img src="{% static '/image/robonew2.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="2200">

      </div>
    </div>
   <br><hr><br>
   {% elif i.name == 'Shubham'%}
   <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><b>{{i.topic}}:</b><span class="text-body-secondary">Exploring Robotics Research.</span></h2>
        <p class="lead">{{i.write|safe}}</p>
      </div>
      <div class="col-md-5 ">
           <img src="{% static '/image/robonew3.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="2250">
      </div>

    </div>
   <br><hr><br>
   {% elif i.name == 'Suman'%}
   <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1 pl-0"><b>{{i.topic}}:</b><span class="text-body-secondary"></span></h2>
          <p class="lead">{{i.write|safe}}</p>
      </div>
      <div class="col-md-5 ">
        <img src="{% static '/image/robonew5.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="2500">
      </div>
    </div>
<br><hr><br>
{% elif i.name == 'Ayush'%}
   <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><b>{{i.topic}}:</b><span class="text-body-secondary"></span></h2>
          <p class="lead">{{i.write|safe}}</p>
      </div>
      <div class="col-md-5 ">
         <img src="{% static '/image/robonew4.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="2000">
      </div>
    </div>

 </div>
  <br><br>
  {%endif%}
  {%endfor%}
{%endblock%}