{% extends 'same2.html'%}
{% block body %}
{% block css%}

{%endblock css%}
<br>
{% load static %}
{% for i in blog%}
 {% if i.name == 'Prateek'%}
<div class="container ">
    <h1><b>The 5 Biggest Technology Trends In 2023 Everyone Must Get Ready For Now</b></h1> <br><br>
  <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1"><b>{{i.topic}}.</b><span class="text-body-secondary">It’ll blow your mind.</span></h2>
        <p class="lead"> {{i.write|safe }}
</p>
      </div>

      <div class="col-md-5 ">
          <img src=" {% static '\image\ai.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="1250">
      </div>

    </div>
   <br>
 <hr><br>

   <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7 order-md-2">
        {% elif i.name == 'Rakesh'%}
          <h2 class="featurette-heading fw-normal lh-1 pl-0"><b>{{i.topic}}</b> <span class="text-body-secondary">It’ll blow your mind.</span></h2>
        <p class="lead">{{i.write|safe}}</p>
      </div>
      <div class="col-md-5 ">
           <img src="{% static '\image\meta22.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="1840">

      </div>
    </div>
   <br><hr><br>
   {% elif i.name == 'Rahul'%}
   <div class="row featurette d-flex justify-content-center align-items-center ">
   
      <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1"><b>{{i.topic}}</b> <span class="text-body-secondary">It’ll blow your mind.</span></h2>
        <p class="lead">{{i.write|safe}}</p>
      </div>
      <div class="col-md-5 ">
           <img src=" {%static '\image\edited.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="1170">
      </div>

    </div>
   <br><hr><br>
   {% elif i.name == 'Rohit'%}
   <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1 pl-0"><b>{{i.topic}}</b><span class="text-body-secondary">It’ll blow your mind.</span></h2>
        <p class="lead">{{i.write|safe}}</p>
      </div>
      <div class="col-md-5 ">
        <img src="{% static '\image\blockdata.jpeg' %}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="1800">
      </div>
    </div>
<br><hr><br>
{% elif i.name == 'Mohit' %}
   <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><b>{{i.topic}}</b> <span class="text-body-secondary">It’ll .</span></h2>
        <p class="lead">{{i.write|safe}}</p>
      </div>
      <div class="col-md-5 ">
         <img src=" {%static '\image\iot.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="1650">
      </div>
    </div>

 </div>
  <hr>
  {%endif%}
{%endfor%}
{% endblock body%}