{% extends 'same2.html'%}
{%block css%}
h1 { text-align:center;}
{%endblock css%}

{% block body %}
{%load static%}
<br><br>
{% for i in blog%}
{% if i.name == 'Krishna' %}
<div class="container ">
    <h1><b>Top 5 Web Design Blogs That You Must Read In 2023</b></h1><br><br>
  <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><b>{{i.topic}}:</b><span class="text-body-secondary">(WDD)</span></h2>
        <p class="lead"> {{i.write|safe}}
            </p></div>
      <div class="col-md-5 ">
          <img src="{% static '\image\wdd1.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="1300">

      </div>
    </div>
   <br><hr><br>
   {% elif i.name == 'Suresh' %}
   <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1 pl-0"><b>{{i.topic}}: </b><span class="text-body-secondary">The Art of User Experience</span></h2>
        <p class="lead"> {{i.write|safe}}</p>
      </div>
      <div class="col-md-5 ">
           <img src="{% static '\image\wdd2.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="1450">

      </div>
    </div>
   <br><hr><br>
   {% elif i.name == 'Pankaj' %}
   <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><b>{{i.topic}}: </b><span class="text-body-secondary">Way in Digital Creativity</span></h2>
        <p class="lead"> {{i.write|safe}}</p>
      </div>
      <div class="col-md-5 ">
           <img src="{% static '\image\wdd3.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="1430">
      </div>

    </div>
   <br><hr><br>
   {% elif i.name == 'Sachin' %}
   <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1 pl-0"><b>{{i.topic}}:</b><span class="text-body-secondary"> Web Design Review Process</span></h2>
        <p class="lead"> {{i.write|safe}}</p>
      </div>
      <div class="col-md-5 ">
        <img src="{% static '\image\wdd4.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="1560">
      </div>
    </div>
<br><hr><br>
{% elif i.name == 'Mamta' %}
   <div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><b> {{i.topic}}:</b><span class="text-body-secondary"> A Beacon of Creative Inspiration</span></h2>
        <p class="lead">{{i.write|safe}}</p>
      </div>
      <div class="col-md-5 ">
         <img src="{% static '\image\wdd5.jpeg'%}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="1380">
      </div>
    </div>

 </div>
  <br><hr>
  {%endif%}
  {%endfor%}
{%endblock body%}